
  html body {
    background-color: darkgrey;
    height: 100%;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  
  .center-column {
    align-self: center;
  }

  .background {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left:9%;
    padding-right:9%;
    background: url('cherry.JPG') no-repeat center fixed; 
    background-size: cover;
    background-position: center; 
    height: 100%;
  }

  .heading {
    text-align: left;
    color: darkgrey;
    margin-bottom: 20px; 
    font-size: 1.8em; 
    font-weight: 700;
  }

  
  .buttons {
    color: white;
    margin-bottom: 30px; 
    font-size: 1.2em; 
    font-weight: 550;
    margin-top: 30px;
    align-self: left; 
  }
  
  .buttons li {
      display: inline-block; 
   }
  

  .buttons li a {
      background: lightpink; 
      border: lightpink solid 1px; 
      border-radius: 7px;
      color: white; 
      margin-right: 5px;
      margin-top: 30px;
      margin-bottom: 100px; 
      padding: 14px; 
      text-decoration: none;
      font-size: 0.9em; 
  }
  
  .buttons li a:hover {
      background: white;
      border: 1px solid lightpink;
      color: lightpink; 
  }

  #photoid {
      max-width: 300px;
      display: block;
      border-radius: 50px 5px 50px 5px;
      margin-bottom: 5px; 
      margin-top: 85px; 
  }

  #me-blurb .bio {
      max-width: 300px;
      background: rgb(255, 255, 255, .75);
      padding: 14px;
      border-radius: 10px; 
      color: darkgray; 
      font-size: 20px; 
  }

  #about {
      color: white;
      margin-bottom: 0;
      margin-top: 0; 
  }
