
  body {
    background-color: darkgrey;
    font-family: 'Helvetica'
  }
  
  #banner {
    background: url('cherry.JPG') no-repeat center fixed; 
    background-size: cover;
    background-position: center;
    padding-top: 85px;
    padding-left: 515px;
    height: 700px; 
  }
  
  #banner .content {
    position: relative;
    text-align: left;
    max-width: 1000px; 
    color: white;
    margin-bottom: 5px; 
    margin-top: 5px; 

  }
  
  #banner .content li {
      display: inline-block; 
      margin-left: 0;
      margin-top: 30px;
   }
  

  #banner .content li a {
      background: lightpink; 
      border: lightpink solid 1px; 
      border-radius: 7px;
      color: white; 
      margin-right: 5px;
      margin-top: 30px;
      margin-bottom: 30px; 
      margin-left: 0;
      padding: 14px; 
      text-decoration: none;
      font-size: larger; 
  }
  
  #banner .content li a:hover {
      background: white;
      border: 1px solid rgb(183, 110, 133); 
      color: lightpink; 
  }

  #photoid {
      max-width: 300px;
      display: block;
      border-radius: 50px 5px 50px 5px;
      margin-bottom: 5px; 
  }

  #me-blurb .bio {
      max-width: 300px;
      background: rgb(255, 255, 255, .75);
      padding: 14px;
      border-radius: 10px; 
      color: darkgray; 
      font-size: 20px; 
  }

  #about {
      color: white;
      margin-bottom: 0;
      margin-top: 0; 
  }
