html {
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Courier New"
}

.heading {
    color: palevioletred;
    font-weight: 700; 
    font-size: xlarge;
}

.subheading {
    color: palevioletred;
    font-weight: 550; 
    font-size: larger; 

}

#photoid {
    width: 100%;
    height: auto;
}

#me-blurb {
    display: block;
    max-width: 300px;
    text-align: center;
}

p {
    color: palevioletred;
    font-weight: 500;
    font-size: medium; 
}